---
import BaseLayout from '../layouts/BaseLayout.astro';
import { ShapeTestLabWebGL } from '../react/components/ShapeTestLabWebGL.tsx';
---

<BaseLayout title="Shape Testing Lab">
  <div id="shape-test-container">
    <ShapeTestLabWebGL client:only="react" />
  </div>
</BaseLayout>

<style>
  #shape-test-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
</style>